{% extends 'base.html' %}

{% block content %}
<style>
    .add-button {
        /* Add your button styling here */
    }

    .display-button {
        /* Add your button styling here */
    }
</style>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="add-button">Save Changes</button>
</form>
<a href="{% url 'display_data' %}" class="display-button">CANCEL</a>

<select name="company">
    <option value="" disabled selected>Select a Company</option>
    {% for company in companies %}
    <option value="{{ company.id }}">{{ company.name }}</option>
    {% endfor %}
</select>

{% endblock %}
