<style>
        
    body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

    .display-button {
    background-color: red; /* Green background color */
    color: white; /* White text color */
    border: none; /* No border */
    padding: 10px 20px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* No text decoration */
    display: inline-block; /* Inline block display */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Cursor style */
    border-radius: 4px; /* Border radius */
}

.add-button {
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    border: none; /* No border */
    padding: 10px 20px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* No text decoration */
    display: inline-block; /* Inline block display */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Cursor style */
    border-radius: 4px; /* Border radius */
}

</style>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="add-button">Save Changes</button>
</form>
<a href="{% url 'display_data' %}" class="display-button">CANCEL</a>