<!-- uploader/templates/uploader/upload.html -->

<html lang="en">

<body>
    <form action="/upload/" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form }}
        <br />
        <input type="submit" value="Submit">
    </form>
    {% if form_errors %}
    <p>Found errors on line {{ row_count }}:
    <p>
    <ul>
        {% for field, errors in form_errors.items %}
        {% for error in errors %}
        <li> {{field}}: {{ error }} </li>
        {% endfor %}
        {% endfor %}
        {% elif row_count %}
        <p>Successfully uploaded {{ row_count }} row(s)! 🥳</p>
        <!-- Add a button to redirect to the display URL -->
        <form action="{% url 'display_data' %}" method="get">
            <button type="submit">View Data</button>
        </form>
    {% endif %}

    <!-- Rest of your HTML content -->
</body>

</html>
